.products__container{
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
// .products__sidebar,.products__content{
//   border: 1px solid;
// }
.products__sidebar{
  width: 25%;
}
.products__content{
  flex-grow: 4;
  margin-left: 20px;
}
.products__menu-title{
  font-weight: bold;
  margin-bottom: 20px;
}
.products__menu-list{
  margin-bottom: 20px;
}
.products__menu-item{
  padding: 5px 0;
  a{
    color: #333;
    font-size: .8rem;
    border-bottom: 1px solid transparent;
    transition: border-bottom .2s;
    &:hover{
      border-bottom: 1px solid #333;
    }
  }
}
.products__title-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  a{
    font-size: .8rem;
    font-style: italic;
    color: #333;
    transition: color .2s;
    &:hover{
      color:#9f9f9f;
    }
  }
}
