.pr-card{
  width: 20%;
  border: 1px solid #000;
  padding: 10px 0;
}
.pr-card__img-wrapper{
  height: 200px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  img{
    width: auto;
    height: 100%;
  }
}
.pr-card__descr,.pr-card__price,.pr-card__title{
  text-align: center;
}
.pr-card__title{
  font-size: 1.2rem;
}
.pr-card__descr{
  font-size: .8rem;
}
