* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  margin-top: 55px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo,
.header__tel,
.header__icons,
.header__navigation {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #fff;
}

.logo {
  text-align: center;
  font-size: 1.2rem;
}

.header__navigation {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.header__navigation ul {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  margin: 0 auto;
}

.header__navigation li {
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__navigation li a {
  color: #fff;
}

.header__tel {
  text-align: center;
}

.header__icons i {
  color: #fff;
}

.latest {
  width: 90%;
  margin: 0 auto;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.same-view {
  background: #e6e6e6;
  min-height: 200px;
  width: 100%;
  padding-top: 20px;
}

.same-view__title {
  padding: 20px 0;
  font-size: 1.4rem;
  font-weight: bold;
}

.news-sales__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
}

.news-sales__container a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 40%;
  height: 150px;
  border-radius: 3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  color: #333;
  -webkit-transition: -webkit-box-shadow .6s;
  transition: -webkit-box-shadow .6s;
  transition: box-shadow .6s;
  transition: box-shadow .6s, -webkit-box-shadow .6s;
}

.news-sales__container a:hover {
  -webkit-box-shadow: 0px 1px 6px #656565;
          box-shadow: 0px 1px 6px #656565;
}

.advantages {
  width: 100%;
  min-height: 300px;
  background-color: #ededed;
  margin-bottom: 30px;
  padding-top: 30px;
}

.advantages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
}

.advantages__item {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages__item i {
  font-size: 2rem;
  width: 65px;
  height: 65px;
  border: 3px solid;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages__item-title {
  text-align: center;
  font-weight: bold;
}

.advantages__item-title:before {
  display: block;
  width: 20%;
  height: 3px;
  content: '';
  background: #333;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pr-card {
  width: 22%;
  border-radius: 3px;
  margin: 9px;
  padding: 10px 0;
  display: inline-block;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .3s;
  transition: .3s;
}

.pr-card:hover {
  -webkit-box-shadow: 0px 0px 5px #8f8f8f;
          box-shadow: 0px 0px 5px #8f8f8f;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.pr-card__img-wrapper {
  height: 200px;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.pr-card__img-wrapper img {
  width: auto;
  height: 100%;
}

.pr-card__descr,
.pr-card__price,
.pr-card__title {
  text-align: center;
}

.pr-card__title {
  font-size: 1.2rem;
}

.pr-card__descr {
  font-size: .8rem;
}

.card-mini__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-mini {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100px;
  width: 20%;
  background: #fff;
  border: 1px solid #333;
  border-radius: 3px;
}

.card-mini__img-wrapper {
  width: 50%;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

.card-mini__img-wrapper img {
  height: auto;
  width: 100%;
}

.card-mini__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  padding: 10px 0;
}

.card-mini__title {
  height: 50px;
  max-width: 100px;
  overflow: hidden;
}

.card-mini__title a {
  color: #333;
}

.card-mini__price {
  margin-top: 10px;
  font-size: .8rem;
}

.breadcrumbs {
  padding: 20px 0;
  vertical-align: middle;
}

.breadcrumbs a,
.breadcrumbs span {
  font-size: .7rem;
}

.breadcrumbs a {
  color: #737373;
}

.breadcrumbs span {
  color: #333;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #333;
  border-radius: 2px;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.btn:hover {
  background-color: #7c7c7c;
  color: #fff;
  border: 1px solid #7c7c7c;
}

.btn-success {
  background-color: #43d994;
  color: #fff;
  border: 1px solid #43d994;
}

.btn-success:hover {
  background: #16995d;
  border: 1px solid #16995d;
}

.form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 15px;
}

.form__group label {
  font-size: .8rem;
  margin-bottom: 5px;
}

.form__group input {
  padding: 5px 10px;
  border-radius: 3px;
}

.form__group input[placeholder] {
  font-style: italic;
}

.form__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__address input {
  width: 85%;
}

.form__address .form__address-house,
.form__address .form__address-flat {
  width: 30%;
}

.page__title {
  padding: 30px 0 20px 0;
  font-size: 2rem;
}

.jumbotron {
  height: 300px;
  background: url("/img/slide_6.jpeg");
  background-repeat: no-repeat;
  background-position: cover;
  background-attachment: fixed;
  padding: 13% 0;
}

.jumbotron h1 {
  color: #fff;
  font-size: 3rem;
  margin-left: 5%;
  width: 50%;
}

.section__title {
  font-size: 1.5rem;
  color: #333;
  width: 20%;
  margin: 0 auto;
  text-align: center;
}

.products__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 40px;
}

.products__sidebar {
  width: 25%;
}

.products__content {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
  margin-left: 20px;
}

.products__menu-title {
  font-weight: bold;
  margin-bottom: 20px;
}

.products__menu-list {
  margin-bottom: 20px;
}

.products__menu-item {
  padding: 5px 0;
}

.products__menu-item a {
  color: #333;
  font-size: .8rem;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-bottom .2s;
  transition: border-bottom .2s;
}

.products__menu-item a:hover {
  border-bottom: 1px solid #333;
}

.product__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 40px;
  margin-bottom: 40px;
}

.product__img-wrapper {
  height: 200px;
  width: 50%;
  overflow: hidden;
  text-align: center;
}

.product__img-wrapper img {
  width: auto;
  height: 100%;
}

.product__content {
  width: 50%;
}

.product__title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.product__descr {
  font-size: .8rem;
  color: #333;
  font-weight: lighter;
  font-style: italic;
  margin-bottom: 10px;
}

.product__full-descr {
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: lighter;
}

.product__price {
  margin: 20px 0;
  font-size: 1.3rem;
  font-weight: bolder;
}

.cart__container {
  padding-top: 50px;
  min-height: 200px;
}

.cart__title {
  font-size: 1.3rem;
  margin: 40px 0;
}

.cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
  border-bottom: 1px solid #333;
  width: 50%;
}

.cart__item:first-child {
  border-top: 1px solid #333;
}

.cart__img-wrapper {
  width: 100px;
  height: 60px;
  overflow: hidden;
  text-align: center;
}

.cart__img-wrapper img {
  height: 100%;
  width: auto;
}

.cart__item-title {
  width: 40%;
  text-align: center;
}

.cart__item-input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.cart__item-input input {
  width: 40px;
}

.cart__item-price {
  text-align: right;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.remote-save button {
  background: transparent;
  border: none;
  font-style: italic;
  font-size: .7rem;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 3px;
  padding: 5px;
}

.remote-save button:hover {
  background-color: #e6e6e6;
  color: #fff;
}

.price-block {
  margin: 30px 0;
  width: 50%;
  padding: 20px 0;
  background: #d3d3d3;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.price-block__text {
  width: 50%;
  padding: 0 20px;
  margin-right: 20px;
  font-size: .9rem;
}

.subtotal span,
.discount span {
  font-size: .9rem;
}

.total-price {
  margin-top: 30px;
}

.total-price span {
  font-weight: bold;
}

.cart__form {
  width: 50%;
  text-align: right;
}

.save-for-later__container {
  margin-top: 50px;
}

.checkout__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.checkout__form {
  width: 40%;
}

