* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #333;
}

.logo,
.header__tel,
.header__icons,
.header__navigation {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #fff;
}

.logo {
  text-align: center;
  font-size: 1.2rem;
}

.header__navigation {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.header__navigation ul {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  margin: 0 auto;
}

.header__navigation li {
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__navigation li a {
  color: #fff;
}

.header__tel {
  text-align: center;
}

.header__icons i {
  color: #fff;
}

.latest {
  width: 90%;
  margin: 0 auto;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.same-view {
  background: #7c7c7c;
  min-height: 200px;
  width: 100%;
}

.same-view__title {
  padding: 20px 0;
  font-size: 1.4rem;
  font-weight: bold;
}

.pr-card {
  width: 22%;
  border: 1px solid #333;
  border-radius: 3px;
  margin: 9px;
  padding: 10px 0;
  display: inline-block;
  -webkit-transition: -webkit-box-shadow .2s linear;
  transition: -webkit-box-shadow .2s linear;
  transition: box-shadow .2s linear;
  transition: box-shadow .2s linear, -webkit-box-shadow .2s linear;
}

.pr-card:hover {
  -webkit-box-shadow: 0px 3px 5px #8f8f8f;
          box-shadow: 0px 3px 5px #8f8f8f;
}

.pr-card__img-wrapper {
  height: 200px;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.pr-card__img-wrapper img {
  width: auto;
  height: 100%;
}

.pr-card__descr,
.pr-card__price,
.pr-card__title {
  text-align: center;
}

.pr-card__title {
  font-size: 1.2rem;
}

.pr-card__descr {
  font-size: .8rem;
}

.card-mini__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-mini {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100px;
  width: 20%;
  background: #fff;
}

.card-mini__img-wrapper {
  width: 50%;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

.card-mini__img-wrapper img {
  height: auto;
  width: 100%;
}

.card-mini__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  padding: 10px 0;
}

.card-mini__title {
  height: 50px;
  max-width: 100px;
  overflow: hidden;
}

.card-mini__title a {
  color: #333;
}

.card-mini__price {
  margin-top: 10px;
  font-size: .8rem;
}

.breadcrumbs {
  padding: 20px 0;
  vertical-align: middle;
}

.breadcrumbs a,
.breadcrumbs span {
  font-size: .7rem;
}

.breadcrumbs a {
  color: #737373;
}

.breadcrumbs span {
  color: #333;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #333;
  border-radius: 2px;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.btn:hover {
  background-color: #7c7c7c;
  color: #fff;
  border: 1px solid #7c7c7c;
}

.products__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 40px;
}

.products__sidebar {
  width: 25%;
}

.products__content {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
  margin-left: 20px;
}

.products__menu-title {
  font-weight: bold;
  margin-bottom: 20px;
}

.products__menu-list {
  margin-bottom: 20px;
}

.products__menu-item {
  padding: 5px 0;
}

.products__menu-item a {
  color: #333;
  font-size: .8rem;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-bottom .2s;
  transition: border-bottom .2s;
}

.products__menu-item a:hover {
  border-bottom: 1px solid #333;
}

.product__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 40px;
}

.product__img-wrapper {
  height: 200px;
  width: 50%;
  overflow: hidden;
  text-align: center;
}

.product__img-wrapper img {
  width: auto;
  height: 100%;
}

.product__title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.product__descr {
  font-size: .8rem;
  color: #333;
  font-weight: lighter;
  font-style: italic;
  margin-bottom: 10px;
}

.product__full-descr {
  margin-bottom: 20px;
}

