* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #333;
}

.logo,
.header__tel,
.header__icons,
.header__navigation {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #fff;
}

.logo {
  text-align: center;
  font-size: 1.2rem;
}

.header__navigation {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.header__navigation ul {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  margin: 0 auto;
}

.header__navigation li {
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__navigation li a {
  color: #fff;
}

.header__tel {
  text-align: center;
}

.header__icons i {
  color: #fff;
}

.latest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.pr-card {
  width: 20%;
  border: 1px solid #000;
  padding: 10px 0;
}

.pr-card__img-wrapper {
  height: 200px;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.pr-card__img-wrapper img {
  width: auto;
  height: 100%;
}

.pr-card__descr,
.pr-card__price,
.pr-card__title {
  text-align: center;
}

.pr-card__title {
  font-size: 1.2rem;
}

.pr-card__descr {
  font-size: .8rem;
}

